@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Abel&family=Titillium+Web:wght@300&display=swap");

:root {
  --background-color: #0d1117;
  --border-color: #4d535c;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--background-color);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
}

.container {
  height: 100vh;
}

.separator-vertical,
.separator-horizontal {
  /* background-color: var(--border-color); */
  flex: 0 0 10px;
}

.separator-vertical {
  cursor: ew-resize;
}

.separator-horizontal {
  cursor: ns-resize;
}

.store {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.store div {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
}

.store div:hover {
  background-color: var(--border-color);
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.recipe > div {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.recipe div:hover {
  background-color: var(--border-color);
}

.io {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.io textarea,
.io .output {
  margin: 10px;
  margin-left: 0px;
  padding: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  height: 100%;
}

.io textarea {
  margin-bottom: 0px;
}

.io .output {
  margin-top: 0px;
}
